@import "variable_override";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
  padding: 1em;
  min-height: 100vh;
  background: url("../images/background.jpg") center no-repeat;
  background-size: cover;
}

.archived {
  color: rgb(173, 173, 173);
  text-decoration: line-through;
}

.taskList {
  border: 10px solid rgb(76, 76, 76);
  border-radius: 20px;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.9);
}
